.App {
  color: #4B4B4B;
}
#header {
  width: 100%;
  font-size: 2em;
  padding: 40px 30px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(to right, #9845EC, #5220DA);
}

.searchbar {
  display: flex;
  background: #FAFAFA;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: 1.2em;
}
.searchbar .count{
  font-weight: bold;
}

.user {
  border-bottom: 1px solid #CCC;
  user-select: none;
}
.user:hover { background: #FAFAFA; }

.user-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.user .name {
  font-weight: bold;
  font-size: 1.2em;
}
.user .email { color: #B1B1B1; }
.user .role { color: #B1B1B1; }
.user .address {
  background: #F8F8F8;
  text-align: right;
  padding: 0 20px;
}